<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="./">Ninh Repo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="packages.html">Tweaks (viewer)</a></li>
        <li class="nav-item"><a class="nav-link" href="repo/Packages">/repo/Packages</a></li>
        <li class="nav-item"><a class="nav-link" href="ipa/">IPA</a></li>
        <li class="nav-item"><a class="nav-link" href="search.html">Search</a></li>
        <li class="nav-item"><a class="nav-link" href="manifest.json">Manifest tổng</a></li>
      </ul>
    </div>
  </div>
</nav>
